:root {
    --primary-blue: rgb(66,132,243);
    --alt-blue: rgb(41, 106, 218);
    --hover-blue: rgb(29, 82, 175);
    --primary-green: rgb(51,168,82);
    --primary-yellow: rgb(250,188,5);
    --pencil-yellow: rgb(215,162,3);
    --primary-red: rgb(197,34,31);
    --primary-grey: rgb(129, 117, 117);
    --light-grey: rgb(170,170,170);
    --dark-grey: rgb(88, 83, 83);
    --lightest-grey: rgb(236,239,241);
    --email-btn-grey: rgb(69,72,71);
}


/* Toggle-able classes */
.negative-zidx {
    z-index: -1;
}
.display-none {
    display: none !important;
}
.full-hidden {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    position:absolute !important;
    bottom: 0 !important;
}
.hidden {
    opacity: 0;
    width: 0;
}
.hidden-flat {
    opacity: 0;
    height: 0;
}
.flex {
    display: flex;
}
/* Fade BG when full screen compose email */
#faded-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    width:100vw; 
    height:100vh; 
    background-color:rgba(0, 0, 0, 0.385);
}


/* Change color of search bar elements on hover */
.search-bar:hover svg path,
.search-bar:focus svg path {
    fill: var(--primary-blue);
    transition-duration: 250ms;
}
.search-bar:hover input::placeholder {
    color: var(--primary-green);
}
.search-bar:hover,
.search-bar:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.397);
}


/* Hamburger Icon */
#hamburger {
    cursor: pointer;
}
#hamburger:hover path {
    stroke: var(--primary-yellow) !important;
}
#hamburger:hover .bottom-bun {
    stroke: var(--primary-blue) !important;
}
#hamburger:hover line {
    stroke: var(--primary-green) !important;
}
#hamburger:hover polyline {
    stroke: var(--primary-red) !important;
}

/* When hamburger is clicked */
.shrink-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}
.shrink-button>svg {
    position: relative;
    top: 2px;
    left: 2px;
}
.shrink-navbar {
    width: 80px !important;
}


/* Navbar, Icons, Select All, Checkboxes */
.icon {
    cursor: pointer;
}
.checkbox {
    width: 16px !important;
    height: 16px !important;
    background-size: 20px !important;
    accent-color: var(--primary-green) !important;
}
.select-all-div {
    display: flex;
    align-items: center;
    gap: 8px;
}
#all-icons-div {
    display: flex;
}
.email-checkbox {
    accent-color: var(--primary-green);
}
#envelope-icon-div {
    display: flex;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
}
#archive-icon {
    height: 20px;
    width: 20px;
}
#closed-envelope-icon,
#open-envelope-icon {
    position: relative;
    bottom: 1px;
    height: 18px;
    width: 18px;
}
.trash-icon {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 2px;
}
.trash-icons {
    position: relative;
    bottom: 4px;
    right: 6px
}
.icon-circle-div,
.trash-icons {
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.icon-circle-div:hover,
.trash-icons:hover {
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.75)
}
.icon-circle-div:hover .icon path,
.icon-circle-div:hover .icon .rect-lines,
.icon-circle-div:hover .icon line,
.icon-circle-div:hover .icon polyline {
    stroke: var(--primary-yellow);
}
.icon-circle-div:hover #closed-envelope-icon path {
    fill: var(--primary-blue);
}
.icon-circle-div:hover #open-envelope-icon path {
    fill: var(--primary-green);
}



/* General Styles, Container Style Tree */
body { 
    background-color: #eeeeee;
}
textarea {
    min-height: 400px;
}
.page-content {
    display: flex;
    height: 100%;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 0;
    margin-right: 0;
    min-height: 100vh;
    transition-duration: 350ms;
}
.margin-left-48 {
    margin-left: 48px;
}
.top-container {
    height: 68px;
    padding: 16px 16px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-container {
    background-color: white;
    padding: 16px;
    border-top-left-radius: 16px;
    height: 100%;
}

/* Navbar and Search */
#bottom-navbar {
    height: 100%;
}
.top-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 68px;
}
.top-navbar svg {
    height: 24px;
    width: 24px;
    margin-left: 8px;
}
#navbar-nav,
.navbar {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.nav-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
#logout-link {
    position: relative;
    left: 3px;
}
.logout-nav-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
#gmail-logo {
    height: 40px;
    width: 109px;
}

/* Hover Effects Nav Link Text */
#inbox-link,
#sent-link,
#archive-link,
#logout-link {
    transition-duration: 250ms;
}
#inbox-link:hover {
    color: var(--primary-green);
}
#inbox-link:hover>svg>path {
    fill: var(--primary-green);
}
#sent-link:hover {
    color: var(--primary-blue);
}
#sent-link:hover>svg>path {
    fill: var(--primary-blue);
}
#archive-link:hover {
    color: var(--primary-yellow);
}
#archive-link:hover>svg>path {
    fill: var(--primary-yellow);
}
#logout-link:hover {
    color: var(--primary-red);
}
#logout-link:hover>svg>path {
    fill: var(--primary-red);
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    height: 46px;
    width: 60%;
    padding: 8px;
    border-radius: 25px;
    background-color: #d5d5d5;
    transition-duration: 250ms;
}
.search-bar svg {
    height: 24px;
}
#search {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    transition-duration: 250ms;
}
#search:active,
#search:focus {
    border: none !important;
    outline: none !important;
}


/* User Info and Dropdown */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}
.user-info span {
    font-size: 0.8em;
}
.profile-pic-container {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 250ms;
}
.profile-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#profile-picture-email {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.095) !important;
}
#profile-picture-email:hover {
    cursor: auto !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.095) !important;
}
.profile-pic-container:hover {
    cursor: pointer;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.408) !important;
}
#dropdown-menu {
    z-index: 1000;
    background-color: aliceblue;
    position: absolute; 
    top: 80px;
    right: 12px;
    width: 300px;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.285);
}
#dropdown-menu-content { 
    margin: 0 12px 12px 12px;
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.dropdown-x-div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.dropdown-x {
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 8px;
}
.dropdown-x:hover {
    color: var(--primary-red);
}
.dropdown-greeting {
    font-size: 0.9em;
}
.dropdown-picture-div {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 8px;
}
.dropdown-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dropdown-links-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.dropdown-link {
    color: var(--alt-blue);
    font-size: 0.8em;
}
.dropdown-link:hover {
    color: var(--hover-blue);
    text-decoration: none;
}


/* Mailbox Views */
.email:first-of-type {
    border-top: 1px solid var(--light-grey);
}
.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 4px 16px;
    border: 1px solid var(--light-grey);
    border-top: none;
    font-size: 0.8em;
}
.right-side-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.page-arrow-div {
    display: flex;
    justify-content: space-between;
}
.subject-div {
    display: flex;
}
.concat-body {
    color:var(--primary-grey)
}
#now-showing,
#total-emails,
#left-arrow,
#right-arrow,
#select-all-text {
    font-size: 0.8em;
    color: var(--primary-grey);
}
#select-all-text {
    position: relative;
    bottom: 1px;
}
#left-arrow,
#right-arrow {
    cursor: pointer;
}
#left-arrow:hover {
    text-decoration: none;
    color: var(--primary-red);
    font-weight: bold;
}
#right-arrow:hover {
    text-decoration: none;
    color: var(--primary-green);
    font-weight: bold;
}


/* Compose View */
#compose-button {
    width: 150px;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    background-color: #ffffff;
    font-size: 0.9em;
    color: var(--primary-grey);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
}
#compose-button svg,
#compose-button #pencil,
#compose-button .svg-envelope {
    transition-duration: 250ms;
}
#compose-button:hover {
    color: var(--primary-blue);
    background-color: #f5f5f5;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
#compose-button svg {
    height: 23px;
    width: 23px;
    transition-duration: 250ms;
}
.svg-envelope {
     fill: rgb(95,99,103);
}
#pencil {
    fill: rgb(40, 40, 40);
}
#compose-button:hover .svg-envelope {
    fill: var(--primary-red);
}
#compose-button:hover #pencil {
    fill: var(--primary-green);
}
#compose-button:active {
    outline: none;
    border: none;
    color: var(--primary-green);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.583);
    background-color: #cccccc;
}
#compose-button:active .svg-envelope {
    fill: var(--primary-blue);
}
#compose-button:active #pencil {
    fill: var(--pencil-yellow);
}
#new-message-text {
    font-size: 0.9em;
    margin: 8px;
}
#compose-floating-div {
    display: none;
    position: fixed;
    bottom: 0;
    right: 50px;
    height: auto;
    width: 500px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.326);
    z-index: 9999;
}
.floating-div-fullscreen {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 16px !important;
    display: inherit !important;
    height: 80vh !important;
    width: 75vw !important;
    right: 0 !important;
}
.floating-div-fullscreen #compose-top-bar {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.floating-div-fullscreen #compose-form {
    height: 100% !important;
    width: 100% !important;
}
.floating-div-fullscreen #compose-form #compose-body {
    height: 100% !important;
}
#compose-form {
    display: flex;
    flex-direction: column;
    height: auto;
}
#compose-top-bar {
    background-color: rgb(242,242,242);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#compose-recipients,
#compose-subject {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.9em;
    margin: 6px 12px;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--lightest-grey);
}
#compose-recipients:focus,
#compose-subject:focus {
    outline: none !important;
}
#compose-body {
    font-size: 0.8em;
    height: 300px;
    width: 100%;
    padding: 12px !important;
}
#compose-body:focus {
    outline: none;
}
#send-btn-div {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
#send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 100px;
    height: 35px;
    outline: none !important;
    border-radius: 25px;
    color: rgb(189, 185, 185);
    background-color: white;
    border: 1px solid rgb(189, 185, 185);
    cursor: pointer;
    transition-duration: 350ms;
}
#send-btn:hover {
    color: var(--alt-blue);
    background-color: white;
    border: 1px solid var(--alt-blue);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.285);
}
#send-btn:active {
    outline: none;
    border: none;
    color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
    background-color: var(--alt-blue);
}
.compose-icons-div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.compose-icon {
    cursor: pointer;
}
#minimize-compose-icon {
    height: 12px;
    width: 12px;
}
#expand-compose-icon {
    height: 11px;
    width: 11px;
}
#close-compose-icon {
    height: 14px;
    width: 14px;
    margin-right: 8px;
}
#minimize-compose-icon:hover {
    color: var(--alt-blue);
}
#expand-compose-icon:hover path {
    fill: var(--primary-green);
}
#close-compose-icon:hover {
    fill: var(--primary-red);
}


/* Email View */
#email-view {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 16px;
}
.content-header {
    display: flex;
    gap: 8px;
}
.content-subject {
    font-size: 1.5em;
}
.content-sender {
    font-size: 1.1em;
    color: var(--dark-grey);
}
.recipients-timestamp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}
.content-recipients {
    font-size: 0.9em;
    color: var(--primary-grey);
    }
.content-timestamp {
    font-size: 0.8em;
    color: var(--primary-grey);
}
.content-content { 
    margin-left: 48px;
}
.button-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 64px 0  24px 24px;
    padding-right: 24px;
}
.reply-forward-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0;
    gap: 8px;
}
.email-reply-button,
.email-forward-button,
.email-archive-button {
    font-size: 0.8em;
    max-height: 30px;
    color: var(--email-btn-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 16px;
    background-color: rgb(238,238,238);
    border: none;
    border-radius: 20px;
    border: 1px solid var(--email-btn-grey) !important;
    outline: none;
}
.email-reply-button:hover,
.email-archive-button:hover, 
.email-forward-button:hover {
    background-color: var(--email-btn-grey);
    color: white;
}
.email-reply-button:active,
.email-reply-button:focus,
.email-reply-button::after,
.email-forward-button:active,
.email-forward-button:focus,
.email-forward-button::after,
.email-archive-button:active,
.email-archive-button:focus,
.email-archive-button::after {
    outline: none;
    border: none;
}
.email-button-active {
    outline: none !important;
    border: none !important;
    background-color: rgb(43, 44, 43) !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.402) !important;
}
.email-reply-button:hover #reply-icon #reply-icon-path,
.email-forward-button:hover #forward-icon-path {
    fill: white !important;
}
#reply-icon,
#forward-icon {
    width: 16px;
    margin-right: 8px;
}
.timestamp-icons-div {
    display: flex;
    align-items: center;
    gap: 8px;
}
#reply-icon-small {
    height: 14px;
    width: 14px;
    margin-right: 8px;
    cursor: pointer;
}
#archive-icon-small {
    height: 17px;
    width: 17px;
    margin: 0 8px 0 12px;
}
#reply-icon-small:hover path {
    fill: var(--primary-green);
}
#archive-icon-small:hover * {
    stroke: var(--primary-yellow);
}
.reply-body {
    font-size: 0.9em;
    color:var(--dark-grey);
    border-left: 1px solid var(--light-grey);
    padding-left: 4px;
    margin-left: 16px;
}


/* Auth Pages */
.login-page-div {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}
.login-header {
    font-size: 2em;
    color: var(--dark-grey);
    margin-bottom: 16px;
}
.login-subheader {
    font-size: 1.2em;
    color: var(--primary-grey);
    margin-bottom: 16px;
}
.google-login-div {
    position: relative;
    bottom: 36px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.285);
    background-color: white;
}
.google-login-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.login-register-span {
    margin-top: 8px;
    position: relative;
    bottom: 36px;
    font-size: 0.8em;
}
.login-register-text {
    color: var(--primary-blue)
}
.login-register-text:hover {
    text-decoration: none;
    color: var(--hover-blue)
}
.auth-input {
    width: 250px;
    font-size: 0.8em !important;
}
.auth-button {
    padding: 4px 20px;
}