textarea {
    min-height: 400px;
}


#faded-background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    width:100vw; 
    height:100vh; 
    background-color:rgba(0, 0, 0, 0.385);
}

.display-none {
    display: none;
}

.full-hidden {
    opacity: 0;
    width: 0 !important;
    height: 0 !important;
    position:absolute !important;
    bottom: 0 !important;
}

.hidden {
    opacity: 0;
    width: 0;
}
.hidden-flat {
    opacity: 0;
    height: 0;
}
.flex {
    display: flex;
}


.trash-icon {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 2px;
}

.shrink-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
}
.shrink-button>svg {
    position: relative;
    top: 2px;
    left: 2px;
}
.shrink-navbar {
    width: 80px !important;
}

.search-bar:hover svg path,
.search-bar:focus svg path {
    fill: rgb(66,132,243);
    transition-duration: 250ms;
}
.search-bar:hover input::placeholder {
    color: rgb(51,168,82);
}
.search-bar:hover,
.search-bar:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.145);
}


#hamburger {
    cursor: pointer;
}
#hamburger:hover path {
    stroke: rgb(250,188,5) !important;
}
#hamburger:hover .bottom-bun {
    stroke: rgb(66,132,243) !important;
}
#hamburger:hover line {
    stroke: rgb(51,168,82) !important;
}
#hamburger:hover polyline {
    stroke: rgb(197,34,31) !important;
}

.select-all-div {
    display: flex;
    align-items: center;
    gap: 8px;
}
#all-icons-div {
    display: flex;
}
.checkbox {
    width: 16px !important;
    height: 16px !important;
    background-size: 20px !important;
    accent-color: rgb(51,168,82) !important;
}
.email-checkbox {
    accent-color: rgb(51,168,82);
}



#envelope-icon-div {
    display: flex;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
}
.icon {
    cursor: pointer;
    
}
#archive-icon {
    height: 20px;
    width: 20px;
}
#closed-envelope-icon,
#open-envelope-icon {
    position: relative;
    bottom: 1px;
    height: 18px;
    width: 18px;
}

.trash-icons {
    position: relative;
    bottom: 4px;
    right: 6px
}
.icon-circle-div,
.trash-icons {
    margin: 0 0 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.icon-circle-div:hover,
.trash-icons:hover {
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.75)
}

.icon-circle-div:hover .icon path,
.icon-circle-div:hover .icon .rect-lines,
.icon-circle-div:hover .icon line,
.icon-circle-div:hover .icon polyline {
    stroke: rgb(250,188,5);
}
.icon-circle-div:hover #closed-envelope-icon path {
    fill: rgb(66,132,243);
}
.icon-circle-div:hover #open-envelope-icon path {
    fill: rgb(51,168,82);
}





body { 
    background-color: #eeeeee;
}
.page-content {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 0;
    margin-right: 0;
    max-height: 100vh;
}
.top-container {
    height: 68px;
    padding: 16px 16px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-container {
    background-color: white;
    padding: 16px;
    border-top-left-radius: 16px;
    height: 100%;
}
#bottom-navbar {
    height: 100%;
}

.top-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 68px;
}
.top-navbar svg {
    height: 24px;
    width: 24px;
    margin-left: 8px;
}
#gmail-logo {
    height: 40px;
    width: 109px;
}
.search-bar {
    display: flex;
    align-items: center;
    height: 46px;
    width: 60%;
    padding: 8px;
    border-radius: 25px;
    background-color: #d5d5d5;
    transition-duration: 250ms;
}
.search-bar svg {
    height: 24px;
}
#search {
    border: none;
    background-color: transparent;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    transition-duration: 250ms;
}
#search:active,
#search:focus {
    border: none !important;
    outline: none !important;
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}
.user-info span {
    font-size: 0.8em;
}
.profile-pic-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 250ms;
}
.profile-picture {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile-picture-email {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.095) !important;
}
.profile-pic-container:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.275) !important;
}



.page-content {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
}


#navbar-nav,
.navbar {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}
#logout-link {
    position: relative;
    left: 3px;
}
.logout-nav-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.email:first-of-type {
    border-top: 1px solid rgb(170,170,170);
}
.email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 4px 16px;
    border: 1px solid rgb(170,170,170);
    border-top: none;
    font-size: 0.7em;
}
.right-side-div {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.page-arrow-div {
    display: flex;
    justify-content: space-between;
}



#compose-button {
    width: 150px;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    background-color: #ffffff;
    font-size: 0.9em;
    color: rgb(129, 117, 117);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
}
#compose-button:hover {
    color: rgb(66,132,243);
    background-color: #f5f5f5;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 250ms;
}
#compose-button svg {
    height: 23px;
    width: 23px;
    transition-duration: 250ms;
}
.svg-envelope {
     fill: rgb(95,99,103);
}
#pencil {
    fill: rgb(40, 40, 40);
}
#compose-button:hover .svg-envelope {
    fill: rgb(197,34,31);
}
#compose-button:hover #pencil {
    fill: rgb(51,168,82);
}

#inbox-link,
#sent-link,
#archive-link,
#logout-link {
    transition-duration: 250ms;
}
#inbox-link:hover {
    color: rgb(51,168,82);
}
#inbox-link:hover>svg>path {
    fill: rgb(51,168,82);
}
#sent-link:hover {
    color: rgb(66,132,243);
}
#sent-link:hover>svg>path {
    fill: rgb(66,132,243);
}
#archive-link:hover {
    color: rgb(250,188,5);
}
#archive-link:hover>svg>path {
    fill: rgb(250,188,5);
}
#logout-link:hover {
    color: rgb(197,34,31);
}
#logout-link:hover>svg>path {
    fill: rgb(197,34,31);
}



.subject-div {
    display: flex;
}
.concat-body {
    color:rgb(129, 117, 117)
}

#now-showing,
#total-emails,
#left-arrow,
#right-arrow,
#select-all-text {
    font-size: 0.8em;
    color: rgb(129, 117, 117);
}

#select-all-text {
    position: relative;
    bottom: 1px;
}

#left-arrow,
#right-arrow {
    cursor: pointer;
}

#left-arrow:hover {
    text-decoration: none;
    color: rgb(197,34,31);
}
#right-arrow:hover {
    text-decoration: none;
    color: rgb(51,168,82);
}



#new-message-text {
    font-size: 0.9em;
    margin: 8px;
}
#compose-floating-div {
    display: none;
    position: fixed;
    bottom: 0;
    right: 50px;
    height: auto;
    width: 500px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.285);
    z-index: 9999;
}
.floating-div-fullscreen {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 16px !important;
    display: inherit !important;
    height: 80vh !important;
    width: 75vw !important;
    right: 0 !important;
}
.floating-div-fullscreen #compose-top-bar {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.floating-div-fullscreen #compose-form {
    height: 100% !important;
    width: 100% !important;
}
.floating-div-fullscreen #compose-form #compose-body {
    height: 100% !important;
}
#compose-form {
    display: flex;
    flex-direction: column;
    height: auto;
}
#compose-top-bar {
    background-color: rgb(242,242,242);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#compose-recipients,
#compose-subject {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.9em;
    margin: 6px 12px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgb(236,239,241);
}
#compose-recipients:focus,
#compose-subject:focus {
    outline: none !important;
}
#compose-body {
    font-size: 0.8em;
    height: 300px;
    width: 100%;
    padding: 12px !important;
}
#compose-body:focus {
    outline: none;
}

#compose-btn-div {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
#compose-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: rgb(66,132,243);
    color: white;
    cursor: pointer;
    transition-duration: 250ms;
}



.compose-icons-div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.compose-icon {
    cursor: pointer;
}
#minimize-compose-icon {
    height: 12px;
    width: 12px;
}
#expand-compose-icon {
    height: 11px;
    width: 11px;
}
#close-compose-icon {
    height: 14px;
    width: 14px;
    margin-right: 8px;
}



/* Email View */

#email-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 16px;
    border-top-left-radius: 16px;
}
.content-header {
    display: flex;
    gap: 8px;
}
.content-subject {
    font-size: 1.5em;
}
.content-sender {
    font-size: 1.1em;
    color: rgb(88, 83, 83);
}
.recipients-timestamp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}
.content-recipients {
    font-size: 0.9em;
    color: rgb(129, 117, 117);
    }
.content-timestamp {
    font-size: 0.8em;
    color: rgb(129, 117, 117);
}
.content-content { 
    margin-left: 48px;
}

.button-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin: 64px 0  24px 24px;
    
    padding-right: 24px;
}
.reply-forward-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0;
    gap: 8px;
}
.email-reply-button,
.email-forward-button,
.email-archive-button {
    max-height: 30px;
    color: rgb(69,72,71);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 16px;
    background-color: rgb(238,238,238);
    border: none;
    border-radius: 20px;
    border: 1px solid rgb(69,72,71) !important;
    outline: none;
}

.email-reply-button:hover,
.email-archive-button:hover, 
.email-forward-button:hover {
    background-color: rgb(69,72,71);
    color: white;
}

.email-reply-button:active,
.email-reply-button:focus,
.email-reply-button::after,
.email-forward-button:active,
.email-forward-button:focus,
.email-forward-button::after,
.email-archive-button:active,
.email-archive-button:focus,
.email-archive-button::after {
    outline: none;
    border: none;
}

.email-button-active {
    outline: none !important;
    border: none !important;
    background-color: rgb(43, 44, 43) !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.402) !important;
}