{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="email-div-header">
        <div class="select-all-div">
            <input class="checkbox" type="checkbox" id="select-all-checkbox"><span id="select-all-text">Select All</span>
            <div id="all-icons-div" class="hidden negative-zidx">
                <div class="icon-circle-div">
                    <svg id="archive-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none"/>
                        <rect class="rect-lines" x="40" y="40" width="176" height="176" rx="8" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <line x1="128" y1="72" x2="128" y2="152" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <path d="M40,160H76.69a8,8,0,0,1,5.65,2.34l19.32,19.32a8,8,0,0,0,5.65,2.34h41.38a8,8,0,0,0,5.65-2.34l19.32-19.32a8,8,0,0,1,5.65-2.34H216" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <polyline points="96 120 128 152 160 120" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                    </svg>
                </div>
                <div id="envelope-icon-div">
                    <div class="icon-circle-div">
                        <svg id="closed-envelope-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="rgb(68,71,70)" d="M16,112V496H496V112ZM236.8,341.6a32.167,32.167,0,0,0,38.4,0L298.667,324,464,448v16H48V448L213.333,324ZM256,316,48,160V144H464v16ZM48,200,186.667,304,48,408ZM464,408,325.333,304,464,200Z" class="ci-primary"/>
                        </svg>
                    </div>
                    <div class="icon-circle-div">
                        <svg id="open-envelope-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="rgb(68,71,70)" d="M274.6,25.623a32.006,32.006,0,0,0-37.2,0L16,183.766V496H496V183.766ZM464,402.693,339.97,322.96,464,226.492ZM256,51.662,454.429,193.4,311.434,304.615,256,268.979l-55.434,35.636L57.571,193.4ZM48,226.492,172.03,322.96,48,402.693ZM464,464H48V440.735L256,307.021,464,440.735Z" class="ci-primary"/>
                        </svg>
                    </div>
                </div>
                <div class="trash-icons">
                    <img id="trash-icon-01" class="trash-icon" src="../../static/mail/images/trash-01.png">
                    <img id="trash-icon-02" class="trash-icon full-hidden" src="../../static/mail/images/trash-02.png">
                    <img id="trash-icon-03" class="trash-icon full-hidden" src="../../static/mail/images/trash-03.png">
                </div>
            </div>
            <div id="solo-trash-div" class="trash-icons display-none">
                <img id="trash-solo-icon-01" class="trash-icon" src="../../static/mail/images/trash-01.png">
                <img id="trash-solo-icon-02" class="trash-icon full-hidden" src="../../static/mail/images/trash-02.png">
                <img id="trash-solo-icon-03" class="trash-icon full-hidden" src="../../static/mail/images/trash-03.png">
            </div>
        </div>
        <div class="page-arrow-div">
            <div id="now-showing"></div>&nbsp;
            <div id="total-emails"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;  
            <div id="left-arrow"><</div>
            &nbsp;&nbsp;&nbsp;&nbsp;  
            <div id="right-arrow">></div>
        </div>
    </div>
    <div class="single-email-header-div display-none"></div>
    <hr class="email-header-hr">

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <div id="compose-floating-div">
            <div id="compose-top-bar">
                <span id="new-message-text">New Message</span>
                <div class="compose-icons-div">
                    <div class="compose-icon-div">
                        <svg class="compose-icon" id="minimize-compose-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <rect width="416" height="32" x="48" y="448" fill="var(--ci-primary-color, currentColor)" class="ci-primary"/>
                        </svg>
                    </div>
                    <div class="compose-icon-div">
                        <svg class="compose-icon" id="expand-compose-icon" height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 2)"><path d="m16.5 5.5v-5h-5"/><path d="m16.5.5-6 5.929"/><path d="m5.5 16.5-5 .023v-5.023"/><path d="m6.5 10.5-6 6"/></g></svg>
                    </div>
                    <div class="compose-icon-div">
                        <svg class="compose-icon" id="close-compose-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="M37.304 11.282l1.414 1.414-26.022 26.02-1.414-1.413z"/><path d="M12.696 11.282l26.022 26.02-1.414 1.415-26.022-26.02z"/></svg>
                    </div>

                </div>
            </div>
            <form id="compose-form">
                <div style="display:none;">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <input id="compose-recipients" placeholder="To">
                <input id="compose-subject" placeholder="Subject" autocomplete="false">
                <div id="compose-body" contenteditable="true" tabindex="1" aria-multiline="true" placeholder="Type your message here"></div>
                <div id="send-btn-div">
                    <button type="submit" class="btn btn-primary" id="send-btn">Send</button>
                    <div></div>
                </div>
            </form>
        </div>
    </div>

    <div id="email-view"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}