{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="email-div-header">
        <div class="select-all-div">
            <input class="checkbox" type="checkbox" id="select-all-checkbox"><span id="select-all-text">Select All</span>
            <div id="all-icons-div" class="hidden">
                <div class="icon-circle-div">
                    <svg id="archive-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none"/>
                        <rect class="rect-lines" x="40" y="40" width="176" height="176" rx="8" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <line x1="128" y1="72" x2="128" y2="152" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <path d="M40,160H76.69a8,8,0,0,1,5.65,2.34l19.32,19.32a8,8,0,0,0,5.65,2.34h41.38a8,8,0,0,0,5.65-2.34l19.32-19.32a8,8,0,0,1,5.65-2.34H216" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                        <polyline points="96 120 128 152 160 120" fill="none" stroke="rgb(68,71,70)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
                    </svg>
                </div>
                <div id="envelope-icon-div">
                    <div class="icon-circle-div">
                        <svg id="closed-envelope-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="rgb(68,71,70)" d="M16,112V496H496V112ZM236.8,341.6a32.167,32.167,0,0,0,38.4,0L298.667,324,464,448v16H48V448L213.333,324ZM256,316,48,160V144H464v16ZM48,200,186.667,304,48,408ZM464,408,325.333,304,464,200Z" class="ci-primary"/>
                        </svg>
                    </div>
                    <div class="icon-circle-div">
                        <svg id="open-envelope-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="rgb(68,71,70)" d="M274.6,25.623a32.006,32.006,0,0,0-37.2,0L16,183.766V496H496V183.766ZM464,402.693,339.97,322.96,464,226.492ZM256,51.662,454.429,193.4,311.434,304.615,256,268.979l-55.434,35.636L57.571,193.4ZM48,226.492,172.03,322.96,48,402.693ZM464,464H48V440.735L256,307.021,464,440.735Z" class="ci-primary"/>
                        </svg>
                    </div>
                </div>
                <div class="trash-icons">
                    <img id="trash-icon-01" class="trash-icon" src="../../static/mail/images/trash-01.png">
                    <img id="trash-icon-02" class="trash-icon display-none" src="../../static/mail/images/trash-02.png">
                    <img id="trash-icon-03" class="trash-icon display-none" src="../../static/mail/images/trash-03.png">
                </div>
            </div>
        </div>
        <div class="page-arrow-div">
            <div id="now-showing"></div>&nbsp;
            <div id="total-emails"></div>
            &nbsp;&nbsp;&nbsp;&nbsp;  
            <div id="left-arrow"><</div>
            &nbsp;&nbsp;&nbsp;&nbsp;  
            <div id="right-arrow">></div>
        </div>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="email-view"></div>
    <script>
        const selectAllCheckbox = document.querySelector('#select-all-checkbox');
        const allIconsDiv = document.querySelector('#all-icons-div');
        const selectAllText = document.querySelector('#select-all-text');

        selectAllCheckbox.onclick = () => {
            const allCheckboxes = document.querySelectorAll('.email-checkbox');
            const selectCount = document.querySelectorAll('.email-checkbox:checked').length;
            if (selectAllCheckbox.checked) {
                allIconsDiv.classList.remove('hidden');
                selectAllText.classList.add('hidden');
                allCheckboxes.forEach(checkbox => checkbox.checked = true);
            } else {
                allIconsDiv.classList.add('hidden');
                selectAllText.classList.remove('hidden');
                allCheckboxes.forEach(checkbox => checkbox.checked = false);
            }
            
        };

        const trashDiv = document.querySelector('.trash-icons');
        const trashOne = document.querySelector('#trash-icon-01');
        const trashTwo = document.querySelector('#trash-icon-02');
        const trashThree = document.querySelector('#trash-icon-03');

        trashDiv.addEventListener('mouseover', () => {
            trashOne.classList.add('display-none');
            trashTwo.classList.remove('display-none');
        })
        trashDiv.addEventListener('mouseout', () => {
            trashTwo.classList.add('display-none');
            trashOne.classList.remove('display-none');
        })

        trashDiv.addEventListener('mousedown', () => {
            trashTwo.style.display = 'none';
            trashThree.classList.remove('display-none');
            // if mouse pointer moves out of trash icon, trash icon should return to trashOne
            trashDiv.addEventListener('mouseout', () => {
                trashTwo.style.display = 'block';
                trashThree.classList.add('display-none');
                trashOne.classList.remove('display-none');
            })

        })
        trashDiv.addEventListener('mouseup', () => {
            trashThree.classList.add('display-none');
            trashTwo.style.display = 'block';
        })

    </script>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}