{% extends "mail/layout.html" %}

{% block body %}
    <div class="login-page-div">

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <div class="login-header">Create an Account</div>
        <div class="google-login-div">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control auth-input" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control auth-input" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control auth-input" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary auth-button" type="submit" value="Register">
            </form>
        </div>  

        <span class="login-register-span">Already have an account? <a class="login-register-text" href="{% url 'login' %}">Log In here.</a></span>
    </div>
{% endblock %}